services:
  selenium:
    image: seleniarm/standalone-chromium:latest
    ports:
      - "4444:4444"
    shm_size: "2g"
    restart: unless-stopped
  scheduled-script:
    build:
      context: .
    container_name: scheduled-script
    restart: unless-stopped
    depends_on:
      - selenium